---
import BlogLayout from '../../layouts/blog.astro';
---

<BlogLayout>
   <div class="grid place-items-center h-screen content-center">
      <h1 class="text-5xl font-bold tracking-[.25em] transition-colors hover:text-syellow duration-500 cursor-default">blog</h1>
   </div>
</BlogLayout>
