---
import MainLayout from '../layouts/main.astro';
import Socials from '../components/socials.astro';
---

<MainLayout title="home | umbranox" description="some software dev">
   <div class="absolute inset-0 flex flex-col justify-center items-center space-y-4">
      <h1 class="text-5xl font-bold tracking-[.25em] transition-colors hover:text-syellow duration-500 cursor-default">umbranox</h1>
      <Socials />
   </div>
</MainLayout>
