---
import NavbarItem from './navbar-item.astro';
const path = Astro.url.pathname;
---

<header class="mt-16 z-50 top-3 sticky flex justify-center items-center">
   <div class="border border-[#333333] rounded-[8px] bg-black backdrop-blur supports-[backdrop-filter]:bg-black/70">
      <div class="flex text-sm">
         <NavbarItem href="/" title="home" active={path === '/'} />
         <NavbarItem href="/blog" title="blog" active={path === '/blog'} />
      </div>
   </div>
</header>
