---
import YoutubeIcon from '../assets/socials/youtube.svg.astro';
import TwitterIcon from '../assets/socials/twitter.svg.astro';
import GitHubIcon from '../assets/socials/github.svg.astro';
import TwitchIcon from '../assets/socials/twitch.svg.astro';
import KOFIIcon from '../assets/socials/ko-fi.svg.astro';
import BlueskyIcon from '../assets/socials/bluesky.svg.astro';
---

<div class="flex p-4">
   <a
      href="https://github.com/Umbranoxio"
      class="p-2 fill-social-icon transition-colors hover:fill-strong"
      aria-label="Github"
      target="_blank"
      rel="noopener noreferrer"
   >
      <span class="block size-7">
         <GitHubIcon />
      </span>
   </a>
   <a
      href="https://x.com/_umbranox"
      class="p-2 fill-social-icon transition-colors hover:fill-social-twitter"
      aria-label="Twitter"
      target="_blank"
      rel="noopener noreferrer"
   >
      <span class="block size-7">
         <TwitterIcon />
      </span>
   </a>
   <a
      href="https://youtube.com/@umbranoxus"
      class="p-2 fill-social-icon transition-colors hover:fill-social-youtube"
      aria-label="Youtube"
      target="_blank"
      rel="noopener noreferrer"
   >
      <span class="mt-0.5 block size-7">
         <YoutubeIcon />
      </span>
   </a>
   <a
      href="https://twitch.tv/umbranoxius"
      class="p-2 fill-social-icon transition-colors hover:fill-social-twitch"
      aria-label="Twitch"
      target="_blank"
      rel="noopener noreferrer"
   >
      <span class="block size-7">
         <TwitchIcon />
      </span>
   </a>
   <a
      href="https://bsky.app/profile/umbranox.dev"
      class="p-2 fill-social-icon transition-colors hover:fill-social-bluesky"
      aria-label="Bluesky"
      target="_blank"
      rel="noopener noreferrer"
   >
      <span class="block size-7">
         <BlueskyIcon />
      </span>
   </a>
   <a
      href="https://ko-fi.com/umbranoxio"
      class="p-2 fill-social-icon transition-colors hover:fill-social-kofi"
      aria-label="ko-fi"
      target="_blank"
      rel="noopener noreferrer"
   >
      <span class="block size-7">
         <KOFIIcon />
      </span>
   </a>
</div>
