---
import YoutubeIcon from '../assets/socials/youtube.svg.astro';
import TwitterIcon from '../assets/socials/twitter.svg.astro';
import GitHubIcon from '../assets/socials/github.svg.astro';
import TwitchIcon from '../assets/socials/twitch.svg.astro';
import KOFIIcon from '../assets/socials/ko-fi.svg.astro';
---

<div class="flex p-4">
   <a href="https://youtube.com/@umbranoxus" class="p-2 fill-slate-300 hover:fill-[#F9001A] transition-colors" aria-label="Youtube" target="_blank">
      <span class="h-7 w-7 block mt-[2px]">
         <YoutubeIcon />
      </span>
   </a>
   <a href="https://github.com/Umbranoxio" class="p-2 fill-slate-300 hover:fill-white transition-colors" aria-label="Github" target="_blank">
      <span class="h-7 w-7 block">
         <GitHubIcon />
      </span>
   </a>
   <a href="https://twitter.com/umbranoxus" class="p-2 fill-slate-300 hover:fill-[#2C9FEB] transition-colors" aria-label="Twitter" target="_blank">
      <span class="h-7 w-7 block">
         <TwitterIcon />
      </span>
   </a>
   <a href="https://twitch.tv/umbranoxius" class="p-2 fill-slate-300 hover:fill-[#9252F8] transition-colors" aria-label="Twitch" target="_blank">
      <span class="h-7 w-7 block">
         <TwitchIcon />
      </span>
   </a>
   <a href="https://ko-fi.com/umbranoxio" class="p-2 fill-slate-300 hover:fill-[#FB565F] transition-colors" aria-label="ko-fi" target="_blank">
      <span class="h-7 w-7 block">
         <KOFIIcon />
      </span>
   </a>
</div>
