---
import '@fontsource/geist-sans';
import '../styles/main.css';
const { content } = Astro.props;
---

<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <title>{content.title}</title>
   </head>
   <body class="text-gray-200 bg-gradient-to-b from-[#09090b] to-[#0c0c0f]">
      <slot />
   </body>
</html>
