---
import '@fontsource/geist-mono';
import '../styles/main.css';
import Navbar from '../components/navbar.astro';
const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <title>{title}</title>
      <ViewTransitions />
   </head>

   <body class="text-gray-200 bg-gradient-to-b from-[#09090b] to-[#0c0c0f]">
      <Navbar />
      <slot />
   </body>
</html>
